[submodule "cbkzxt-ar-basic"]
	path = cbkzxt-ar-basic
	url = git@github.com:cbkzxt/cbkzxt-ar-basic.git
[submodule "cbkzxt-ar-scenes"]
	path = cbkzxt-ar-scenes
	url = git@github.com:cbkzxt/cbkzxt-ar-scenes.git
[submodule "cbkzxt-ar-pwa"]
	path = cbkzxt-ar-pwa
	url = git@github.com:cbkzxt/cbkzxt-ar-pwa.git
[submodule "ar-nft-patch"]
	path = ar-nft-patch
	url = git@github.com:cbkzxt/ar-nft-patch.git
